* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

.sky {
    margin: 2rem auto;
    position: relative;
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
    overflow: hidden;
}

.title {
    position: absolute;
    color: white;
    background-color: hsla(0, 0%, 50%, 0.5);
    top: 3rem;
    margin: auto;
    width: 100%;
    text-align: center;
}

.cloud {
    position: absolute;
    height: 6rem;
    width: 18rem;
    background-color: white;
    margin: auto;   
    border-radius: 50px;
    inset: 65% auto auto 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.cloud::before {
    content: '';
    position: absolute;
    height: 9rem;
    width: 9rem;
    background-color: white;
    border-radius: 50%;
    inset: auto auto 2rem 1.5rem;
    overflow: hidden;
}

.cloud::after {
    content: '';
    position: absolute;
    height: 6rem;
    width: 6rem;
    background-color: white;
    border-radius: 50%;
    inset: auto auto 2.5rem 9rem;
    overflow: hidden;
}

.moon, .sun {
    height: 12rem;
    width: 12rem;
    position: absolute;
    border-radius: 50%;
    inset: 9rem auto auto 14rem;
}

/* Sky Night */

.night {
    background-image: linear-gradient(to bottom, hsl(240 50% 33%) 50%, hsl(240 50% 66%) 100%);
}

.moon {
    background-color: hsl(0 0% 60%);
    overflow: hidden;
    animation: spin-moon 30s infinite linear;
}

.moon::after {
    content: '';
    position: absolute;
    height: 3rem;
    width: 3rem;
    background-color: hsl(0 0% 40%);
    border-radius: 50%;
    box-shadow: 4.5rem 2rem 0 .4rem hsl(0 0% 40%),
    9rem 0 0 -0.3rem hsl(0 0% 40%),
    8rem 7rem 0 0 hsl(0 0% 40%),
    2rem 8rem 0 1rem hsl(0 0% 40%);
}

@keyframes spin-moon {
    100% {
        transform: rotate(360deg);
    }
}

.face {
    position: absolute;
    inset: 14rem auto auto 9rem;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    z-index: 1;
}

.blush {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: hsl(0 0% 75%);
    border-radius: 50%;
    inset: 5rem auto auto 1rem;
}

.blush::after {
    position: absolute;
    width: 2rem;
    height: 2rem;
    content: '';
    background-color: hsl(0 0% 75%);
    position: absolute;
    inset: auto auto auto 6rem;
    border-radius: 50%;
}

.eye {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: black;
    border-radius: 0 0 50% 50%;
    inset: 4rem auto auto 3rem;
}

.eye.r {
    position: absolute;
    inset: 4rem auto auto 6rem;
    overflow: hidden;
}

.eye::after {
    content: '';
    position: absolute;
    width: .5rem;
    height: .75rem;
    background-color: white;
    border-radius: 0 0 50% 50%;
    inset: 0 .25rem;
}

.snore {
    position: absolute;
    width: .5rem;
    height: .5rem;
    background-color: black;
    border-radius: 50%;
    inset: 6rem auto auto 4.75rem;
    animation: snore 2s infinite alternate;
}

@keyframes snore {
    100% {
        transform: scale(2);
    }
}


/* Sky Day */

.day {
    background-image: linear-gradient(to bottom, hsl(220 100% 50%) 33%, hsl(180 100% 80%));
}

.sun {
    background-color: hsl(40, 100%, 50%);
    animation: shine 2.5s infinite alternate;
}

@keyframes shine {
    100% {
        box-shadow: 0 0 2.5rem 1rem hsl(30, 100%, 50%);
    }    
}

.shadow {
    position: absolute;
    width: 12rem;
    height: 12rem;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}